.wrapper {
    position: static;
}

.slide {
	width: 100%;
	height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    background-size: cover
}

.title {
    font-family: DINpro;
    font-size: 25px;
    color: rgb(36, 36, 36);
    text-transform: uppercase;
    text-align: left;
    position: absolute;
    left: 7%;
    top: 17%;
    z-index: 30;
  }

.main {
    direction:rtl;
    overflow: auto;
    position: absolute;
    left: 8%;
    top:30%;
    width: 75%;
    height: 440px;
    scrollbar-width: thin;
}

.scrollbarline {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 8%;
  top:30%;
  width: 20px;
  height: 440px;
  align-items: center;
}

.scrollbarlineinner {
  height: 100%;
  border-radius: 30px;
  background-color: black;
  width: 5px
}

.text_back {
    position: absolute;
    left: 12%;
    top:30%;
    width: 75%;
    height: 450px;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 50px 1px rgba(157, 185, 198, 0.39);
    border-radius: 40px;
}


.text {
    font-family: DINpro;
    margin: 25px;
    margin-left: 50px;
    direction:ltr;
    height: 90%;
    font-size: 25px;
}


.main::-webkit-scrollbar {
    width: 20px;
    height: 20px;

}

.main::-webkit-scrollbar-thumb {
    background-color: rgb(207, 87, 141);
    border-radius: 10px;
}


.main::-webkit-scrollbar-track {
    max-height: 10px;
    width: 1px
}

.main::-webkit-scrollbar-track {
    width: 5000px;

  }

  

.body_txt {
    position: absolute;
    left: 236px;
    top: 480px;
    width: 1550px;
    height: 890px;
    z-index: 28;
  }
  
.layer3copy2a {
  animation: 2s showl3c2 ease-out;
}

.layer3copy2 {
    opacity: 0.529;
    position: absolute;
    left: 57%;
    top: 12.5%;
    width: 41%;
    z-index: 0;

  }
@keyframes showl3c2 {
  from {
    transform: translate(100px, 40px);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 0.529;
  }
  50% {
    opacity: 0.1;
  }
}
  
.layer3copy3a {
  animation: 2.2s showl3c3 ease-in-out ;
}
.layer3copy3 {
    opacity: 0.49;
    position: absolute;
    left: 87%;
    top: 53%;
    width: 44%;
    z-index: 0;
  }
  @keyframes showl3c3 {
    from {
      transform: translate(120px, 48px);
      opacity: 0;
    }
    to {
      transform: translate(0, 0);
      opacity: 0.49;
    }
    20% {
      opacity: 0;
    }
    60% {
      opacity: 0.1;
    }
  }
  
.layer3copy4a{
  animation: 2.2s showl3c4 ease-in-out;
}

.layer3copy4 {
    opacity: 0.49;
    position: absolute;
    left: 70%;
    top: 10%;
    width: 20%;
    z-index: 25;
  }
  @keyframes showl3c4 {
    from {
      transform: translate(120px, 48px);
      opacity: 0;
    }
    to {
      transform: translate(0, 0);
      opacity: 0.49;
    }
    20% {
      opacity: 0;
    }
    60% {
      opacity: 0.1;
    }
  }
  
.layer3copy5a {
  animation: 2.2s showl3c5 ease-in-out;
}
.layer3copy5 {
    filter: blur(1px);
    opacity: 0.49;
    position: absolute;
    left: 87%;
    top: 66%;
    width: 18%;
    z-index: 0;
  }
  @keyframes showl3c5 {
    from {
      transform: translate(120px, 48px);
      opacity: 0;
    }
    to {
      transform: translate(0, 0);
      opacity: 0.49;
    }
    20% {
      opacity: 0;
    }
    60% {
      opacity: 0.1;
    }
  }
  
.layer3copy6a{
  animation: 2s showl3c6 ease-in-out;
}
.layer3copy6 {
    position: absolute;
    left: 35%;
    top: 12%;
    width: 65%;
    z-index: 0;
    
  }
  @keyframes showl3c6 {
    from {
      transform: translate(200px, 100px);
      opacity: 0;
    }
    to {
      transform: translate(0, 0);
    }
    50% {
      opacity: 0.1;
    }
  }
  