.slide {
	width: 100%;
	height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    background: url(/src/img/page1/background.png) center center;
    background-size: cover;
}

.innerslide {
}

@media (min-width: 1200px) {
    .slide {

    }
}

@keyframes swipe {
    0% { left: 0}
    100% {left: -100%}
}